
            <div class="gi-header">
                <div class="col-md-9">
                <h3 class="ad-mh"><b>{{ account.name }}</b>
                    {# Account Edit Link #}
                    <span>
                        <a class="ad-control edit-account btn btn-link"
                           href="{{ account.get_update_url }}"><b>Edit</b></a>
                    </span>
                </h3>

            </div>
            <div class="row gi-body">
                <div class="col-md-9">
                    <h5 class="gi-sh">Description</h5>
                    <p>{{ account.desc }}</p>
                </div>
                <div class="col-md-3">
                    <h5 class="gi-sh"><b>Address</b></h5>
                    <p class="nm"><b>{{ account.address_one }}</b></p>
                    <p class="nm"><b>{{ account.address_two }}</b></p>
                    <p class="nm"><b>{{ account.city}}, {{ account.state }}</b></p>
                    <p class="nm"><b>{{ account.phone}}</b></p>
                </div>
            </div>
        