{# HTML5 declaration #}
<!DOCTYPE html>
<html lang="en">

  <head>
  {% block head_meta %}
  	{% block head_meta_charset %}
    <meta charset="utf-8">
    {% endblock head_meta_charset %}
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock head_meta_viewport %}
    {% block head_meta_description %}
    <meta name="description" content="">
    {% endblock head_meta_description %}
    {% block head_meta_name %}
    <meta name="author" content="">
    {% endblock head_meta_name %}
   {% endblock head_meta %}

    {% load staticfiles %}
    <title>{% block title %}New Age - Start Bootstrap Theme {% endblock title %}</title>


   {% block head_css %}
   	{% block head_css_site %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    {% endblock head_css_site %}
    {% block head_css_font %}
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    {% endblock head_css_font %}
    {% block head_css_plugin %}
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{% static 'device-mockups/device-mockups.min.css' %}">
    {% endblock head_css_plugin %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/new-age.min.css' %}" rel="stylesheet">
   {% endblock head_css %}
  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Chainstat.io</a>
      
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            {% if user.is_authenticated %}
            				<li class="nav-item">
                            <li><a class="nav-link js-scroll-trigger" href="{% url 'currency_list' %}" class="p-r-none">Currencies</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="{% url 'account_list' %}" class="p-r-none">Accounts</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="/logout/">Logout</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="">
                            Welcome, {{ user.get_username }}</a></li>
                        {% else %}
                        	<li class="nav-item">
                            <li><a class="nav-link js-scroll-trigger" href="/login/">Login</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="{% url 'sub_new' %}" class="p-r-none">Sign Up</a></li>
                            <li><a class="nav-link js-scroll-trigger" href="">
                            Welcome, new user. Please log in.</a></li>
                        {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {# The Document Body #}
        <div id="site-wrapper">
            {% block content %}
                if you see this, something is wrong!
            {% endblock content %}
        </div>

    <footer>
      <div class="container">
        <p>&copy; 2017 Chainstat.io. All Rights Reserved. Chainstat.io is not in any way associated with PoloniEx or any of it's partners.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
        <script type="text/javascript">
          baseUrl = "https://widgets.cryptocompare.com/";
          var scripts = document.getElementsByTagName("script");
          var embedder = scripts[ scripts.length - 1 ];
          (function (){
          var appName = encodeURIComponent(window.location.hostname);
          if(appName==""){appName="local";}
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl+'serve/v3/coin/header?fsyms=BTC,ETH,XRP,LTC,SC&tsyms=USD';
          s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
          })();
        </script>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/new-age.min.js' %}"></script>


    <!-- Scripts for Highcharts -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <script src="{% static '/code/highcharts.js' %}"></script>
        <script src="{% static '/code/modules/data.js' %}"></script>
        <script src="{% static '/code/modules/exporting.js' %}"></script>

        <!-- Additional files for the Highslide popup effect -->
        <script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
        <script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>

  </body>

</html>
