{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% load staticfiles %}


{% block content %}

<header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <h1 class="mb-5">Chainstat.io is an app that allows you to effortlessly track all the cryptocurrencies you're invested in. All data is collected from the PoloniEx API.</h1>
                <div id="content-container" class="container p-none">
                    <div class="lgn-container col-lg-8">
                        <form id="login-form" method="post" 
                              action="{% url 'django.contrib.auth.views.login' %}">
                            {% csrf_token %}
                            <table class="table">
                                <tr>
                                    <td><label for="id_username">Username</label></td>
                                    <td><input id="id_username" name="username" 
                                               type="text" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td><label for="id_password">Password</label></td>
                                    <td><input id="id_password" name="password" 
                                               type="password" class="form-control"></td>
                                </tr>
                            </table>
                            {% if form.errors %}
                                <p class=" label label-danger">
                                    Your username and password didn't match. 
                                    Please try again.
                                </p>
                            {% endif %}

                            <input type="submit" value="Login" 
                                   class="btn btn-primary pull-right" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
            </div>
    <div class="col-lg-5 my-auto">
                            <div class="device-container">
                              <div class="device-mockup iphone6_plus portrait white">
                                <div class="device">
                                  <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <iframe width="1291" height="445" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRKhJAD7c-K5waTrAYcVk3DBwnAJckkeA_Z002cJjtOzCGOpeNphNdnBzrhI2YT6QrdnoFXRkfJlm-H/pubchart?oid=701688774&amp;format=interactive"></iframe>
                                  </div>
                                  <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
        </div>
    </div>
</header>

{% endblock content %}