
            <div id="content-container" class="container p-none">
                <div id="ad-container">
            <tr>
                <td class="ci-td-p-l">{{ contact.full_name|truncatechars:8 }}</td>
                <td>{{ contact.role }}</td>
                <td>{{ contact.email|truncatechars:10 }}</td>
                <td>{{ contact.phone|truncatechars:8 }}</td>
                <td class="con-cntrl">
                    {# Contact Edit Link #}
                    <a class="pen edit-contact"
                       href="{{ contact.get_update_url }}?account={{ account.id }}">Edit</a>
                </td>
                <td class="ci-td-p-r">
                    {# Contact Delete Link #}
                    <a class="cancel"
                       href="{{ contact.get_delete_url }}?account={{ account.id }}">Del</a>
                </td>
            </tr>
        </div>
    </div>
