{% extends 'base.html' %}
{% block title %}Contact Detail{% endblock title %}

{% block content %}
<header class="masthead">
<br></br>
<br></br>
      <div class="container">
        <div class="section-heading text-center">
            <div id="content-container" class="container p-none">
                <div id="ad-container">
            
                    <h4 class="ad-mh">Contact Details</h4>
                    <table id="cd-table" class="table">
                        <tbody>
                            {% include 'contacts/contact_item_form.html' %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}