{% extends 'base.html' %}

{% block content %}
<section class="download bg-secondary text-center" id="download">
      <div class="container">
        <div class="section-heading text-center">
		    <div id="content-container" class="container p-none">
		        <div id="ad-container">
		            <div id="gi-container" class="ad-container">
		                {% include 'currencies/currency_item_view.html' %}
		            </div>
		        </div>
		        {# List Contacts #}
		        {# List Communications #}
		    </div>
		    <br></br>
		    <br></br>
		</div>
	</div>
</section>

{% endblock %}