{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<header class="masthead">
<br></br>
<br></br>
      <div class="container">
        <div class="section-heading text-center">
		    <div id="content-container" class="container p-none">
		        <div id="ad-container">
		            <div id="gi-container" class="ad-container">
		                {% include 'currencies/currency_item_view.html' %}
		            </div>
		        </div>
		        <br></br>
		        {# List Currencies from Coinmarketcap #}
		        <h3 class="ad-mh"><b>Coin Market Cap Statistics</b></h3>
		        <tr>
				 <td>
				  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="{{ currency.currency_name }}" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>
				 </td>
				 <a class="ad-control edit-currency btn btn-link" href="javascript:window.location.reload(true)">Reload Statistics</a>
				</tr>
		    </div>
		    <br></br>
		    <br></br>
		    {# Currency Chart #}

		    <script src="{% static 'https://code.jquery.com/jquery-3.1.1.min.js' %}"></script>
<script src="{% static '../../code/highcharts.js' %}"></script>
<script src="{% static '../../code/modules/data.js' %}"></script>
<script src="{% static '../../code/modules/exporting.js' %}"></script>

<!-- Additional files for the Highslide popup effect -->
<script src="https://www.highcharts.com/media/com_demo/js/highslide-full.min.js"></script>
<script src="https://www.highcharts.com/media/com_demo/js/highslide.config.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="https://www.highcharts.com/media/com_demo/css/highslide.css" />

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



		<script type="text/javascript">


// Get the CSV and create the chart
$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=analytics.csv&callback=?', function (csv) {

    Highcharts.chart('container', {

        data: {
            csv: csv
        },

        title: {
            text: 'Daily visits at www.highcharts.com'
        },

        subtitle: {
            text: 'Source: Google Analytics'
        },

        xAxis: {
            tickInterval: 0 * 0 * 60 * 0, // one day
            tickWidth: 0,
            gridLineWidth: 1,
            labels: {
                align: 'left',
                x: 3,
                y: -3
            }
        },

        yAxis: [{ // left y axis
            title: {
                text: null
            },
            labels: {
                align: 'left',
                x: 3,
                y: 16,
                format: '{value:.,0f}'
            },
            showFirstLabel: false
        }, { // right y axis
            linkedTo: 0,
            gridLineWidth: 0,
            opposite: true,
            title: {
                text: null
            },
            labels: {
                align: 'right',
                x: -3,
                y: 16,
                format: '{value:.,0f}'
            },
            showFirstLabel: false
        }],

        legend: {
            align: 'left',
            verticalAlign: 'top',
            y: 20,
            floating: true,
            borderWidth: 0
        },

        tooltip: {
            shared: true,
            crosshairs: true
        },

        plotOptions: {
            series: {
                cursor: 'pointer',
                point: {
                    events: {
                        click: function (e) {
                            hs.htmlExpand(null, {
                                pageOrigin: {
                                    x: e.pageX || e.clientX,
                                    y: e.pageY || e.clientY
                                },
                                headingText: this.series.name,
                                maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) + ':<br/> ' +
                                    this.y + ' visits',
                                width: 200
                            });
                        }
                    }
                },
                marker: {
                    lineWidth: 1
                }
            }
        },

        series: [{
            name: 'All visits',
            lineWidth: 4,
            marker: {
                radius: 4
            }
        }, {
            name: 'New visitors'
        }]
    });
});

		</script>

		</div>
	</div>
</header>

{% endblock %}