    
    <div class="gi-header">
        <div class="col-md-9">
        <h3 class="ad-mh">{{ currency.currency_name }}
            {# Currency Edit Link #}
            <span>
                <a class="ad-control edit-currency btn btn-link"
                   href="{{ currency.get_update_url }}">Edit</a>
            </span>
            <span>
                <a class="ad-control edit-currency btn btn-link"
                   href="">Edit</a>
            </span>
        </h3>
    </div>
    </div>
    <div class="row gi-body">
        <div class="col-md-9">
            <h5 class="gi-sh">Description</h5>
            <p>{{ currency.desc }}</p>
        </div>
        <div class="col-md-3">
            <h5 class="gi-sh">Address</h5>
            <p class="nm">{{ currency.address_one }}</p>
            <p class="nm">{{ currency.address_two }}</p>
            <p class="nm">{{ currency.city}}, {{ currency.state }}</p>
            <p class="nm">{{ currency.phone}}</p>
        </div>
    </div>