{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<section class="download bg-primary text-center" id="currencies">
      <div class="container">
        <div class="section-heading text-center">
		    <div id="content-container" class="container p-none">
		        <div id="ad-container">
		            <div id="gi-container" class="ad-container">
		                {% include 'currencies/currency_item_view.html' %}
		            </div>
		        </div>
		        <br></br>
		        {# List Currencies from Coinmarketcap #}
		        <h3 class="ad-mh"><b>Coin Market Cap Statistics</b></h3>
		        <tr>
				 <td>
				  <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script><div class="coinmarketcap-currency-widget" data-currency="{{ currency.currency_name }}" data-base="USD" data-secondary="BTC" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>
				 </td>
				</tr>
		        {# List Communications #}
		    </div>
		    <br></br>
		    <br></br>
		</div>
	</div>
</section>

{% endblock %}