{% extends 'base.html' %}
{% block title %}Currency List{% endblock title %}

{% block content %}
<header class="masthead">
<br></br>
<br></br>
      <div class="container">
        <div class="section-heading text-center">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh"><b>Currency List</b></h3>
                    <br>
                    {# Currency Search Form #}
                <div class="container">
                <span class="pull-left">
                        <ul class="list-inline">
                        <li class="list-inline-item">
                        <form action="{% url 'currency_list' %}" method="get">
                            <input id="al-search" type="text"
                                   name="currency" value="{{ request.GET.currency }}"
                                   class="form-control" />
                                   <br>
                            <input type="submit"
                                   value="Search" class="btn btn-success" />
                        </form>
                    </li>
                </ul>
                </span>
                <br>
                    {# Add Currency Link #}
                    <span class="pull-right">
                        <a href="{% url 'currency_new' %}"
                           class="btn btn-link p-r-none">+ Add New Crypto-Currency</a>
                    </span>
                    <br></br>
                    <br>
                    <hr>
            {# List of Currencies #}
            <div class="container">
                        <ul class="list-inline">
                        <li class="list-inline-item">
                {% for currency in currencies %}
                    <li class="al-item">
                        <a href="{{ currency.get_absolute_url }}"><h4 class="al-name">{{ currency.currency_name }}</h4></a>
                        <span class="al-created">created on {{ currency.created_on }}</span>
                    </li>
                    </li>
                    <br>
                {% endfor %}
            </li>
            </ul>
            </div>
            {# Crypto Widget #}
                <ul class="list-inline">
                        <li class="list-inline-item">
                <script type="text/javascript">
                    baseUrl = "https://widgets.cryptocompare.com/";
                    var scripts = document.getElementsByTagName("script");
                    var embedder = scripts[ scripts.length - 1 ];
                    var cccTheme = {"General":{"background":"#fff"},"BigPrice":{"color":"#000"},"SmallPrice":{"color":"#FFF"},"Chart":{"labelColor":"#000"}};
                    (function (){
                    var appName = encodeURIComponent(window.location.hostname);
                    if(appName==""){appName="local";}
                    var s = document.createElement("script");
                    s.type = "text/javascript";
                    s.async = true;
                    var theUrl = baseUrl+'serve/v1/coin/header?fsym=BTC&tsyms=USD,EUR,CNY,GBP';
                    s.src = theUrl + ( theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                    embedder.parentNode.appendChild(s);
                    })();
                </script>
                    </li>
                </ul>
            </div>
            {# Pagination Section #}
            {% if is_paginated %}
            <div id="al-paginate">
                <ul class="strip-list al-pgnt-list">
                    {% if page_obj.has_previous %}
                        <li class="pull-left">
                            <a href="{% url 'currency_list' %}?page={{ page_obj.previous_page_number }}
                            {% if request.GET.currency %}&currency={{ request.GET.currency }}{% endif %}">Prev</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="pull-right">
                            <a href="{% url 'currency_list' %}?page={{ page_obj.next_page_number }}
                            {% if request.GET.currency %}&currency={{ request.GET.currency }}{% endif %}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        </div>
    </div>
</div>
</header>
{% endblock content %}