    
    <div class="gi-header">
        <div class="col-md-9">
        <h3 class="ad-mh"><b>{{ currency.currency_name }}</b>
            {# Currency Edit Link #}
            <span>
                <a class="ad-control edit-currency btn btn-link"
                   href="{{ currency.get_update_url }}">Edit</a>
            </span>
        </h3>
    </div>
    </div>
    <div class="row gi-body">
        <div class="col-md-9">
            <h5 class="gi-sh">Description</h5>
            <p>{{ currency.desc|truncatechars:444 }}</p>
        </div>
        <div class="col-md-3">
            <h5 class="gi-sh">Address</h5>
            <p class="nm">{{ currency.address_one|truncatechars:15 }}</p>
            <p class="nm">{{ currency.address_two|truncatechars:15 }}</p>
            <p class="nm">{{ currency.exchange}}, {{ currency.investment }}</p>
            <p class="nm">{{ currency.phone}}</p>
        </div>
    </div>