{% extends 'base.html' %}
{% block title %}Currency List{% endblock title %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div id="al-container" class="side-p">
            <div id="al-control">
                <h3 class="ad-mh">Currency List
                    {# Add Currency Link #}
                </h3>
                {# Currency Search Form #}
            </div>
            {# List of Currencies #}
            <ul id="al-group" class="strip-list">
                {% for currency in currencies %}
                    <li class="al-item">
                        <a href=""><h4 class="al-name">{{ currency.currency_name }}</h4></a>
                        <span class="al-created">created on {{ currency.created_on }}</span>
                    </li>
                {% endfor %}
            </ul>
            {# Pagination Section #}
        </div>
    </div>
{% endblock content %}